// out: null
.f-np-l {
  padding-left: 0;
}
.f-np-r {
  padding-right: 0;
}
.f-np {
  padding: 0;
}
.f-pt-lg {
  padding-top: 40px;
}
.f-mt-lg {
  margin-top: 40px;
}
.f-mt-sm{
  margin-top: 10px;
}
.f-ml20{
  margin-left:20px;
}
.f-mb-lg{
	margin-bottom: 40px;
}
.f-fl{
  float: left;
}
.f-fr {
  float: right;
}
.f-hd {
  display: none;
}
.f-ib {
  display: inline-block;
  *display:inline;
  zoom:1;
}
.f-tc {
  text-align: center;
}
.f-vt{
  vertical-align: text-top;
}
.f-mb30 {
  margin-bottom: 30px;
}
.f-wrap {
  padding: 0 45px;
}
.f-wrap-re {
  padding: 15px 0;
}
.f-mb-mg {
  margin-left: -15px;
  margin-right: -15px;
}
.f-cb:after,.f-cbli li:after{
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
	content:".";
}
.f-cb,.f-cbli li{
	zoom:1;
}
.f-min{
	min-width: 750px;
}
.f-pad-top{
	padding-top: 12px;
}
.f-no-border{
	border: none !important;
}
.f-pr{
  position: relative;
}
.f-pa{
  position: absolute;
}
.f-ml20{
  margin-left: 20px;
}
.f-mr20{
  margin-right: 20px;
}
.f-mr180{
    margin-right:180px!important;
}
.f-mt-80{
    margin-top:-80px!important;
}
.z-disable{
  .icon{
    border:#e1e1e1 !important;
    background-color: #e1e1e1;
  }
}
.f-wh100{
  width: 100%;
  height: 100%;
}
.f-fd20{
  position: fixed;
  bottom:20px;
}
.f-pd10{
  padding: 0 10px;
}

textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color]{
  &.z-input-error{
    border-color: #f59942;
  }
}
.z-input-error{
  border-color: #f59942;
}
.z-input-error + span + i{
  background-position: -96px 0px;
}
.xg-fc-backmsg{
    position: absolute;
    display: block;
    left: 6px;
    top: 3px;
    background-color: #fff;
  }
