// out: ../res/global.css, compress: true, strictMath: true, cleancss:true, autoprefixer:true
@import './bootstrap-alter';
@import './btn';
@import './function';
@import './skin';
@import './u-icon';
@import './unit';
@color1: #333;
@color6: #666;
@color2: #999;
@color3: #ddd;
@bg: #f0f0f0;
@main-b:#31a3d1;
@main-b2:#39b3e5;
@main-b3:#8cdafa;
@main-c: #ffcb33;
@main-mb_y: #ffcd0d;
@side:#2b2b30;
@side-li:#343339;
body {
  font-family: 'Microsoft yahei';
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
ul,
li {
  padding: 0;
  margin: 0;
}
.g-head{
  min-width: 1200px;
  width: 100%;
  background-color: @main-b2;
}
.g-body{
  min-width: 1200px;
  width: 100%;
}
.g-foot{

}
.m-logo{
  float: left;
  text-align: center;
}
.m-nav{
  float:left;
  ul{
    margin-top:25px;
    margin-left: 12px;
  }
  li{
    float:left;
  }
  a{
    display: block;
    text-align: center;
    height: 43px;
    line-height: 43px;
    width: 88px;
    background-color: @main-b2;
    color:#fff;
    font-size: 14px;
    &:hover{
      background-color: @main-b;
    }
  }
  .z-active{
    background-color: @main-b;
  }
}
.m-login{
  float:right;
  margin-top: 25px;
  margin-right: 15px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  .host{
    color: #fff;
    font-size: 12px;
  }
}
.m-side{
  float:left;
  width: 160px;
  height: 100%;
  background-color: @side;
  ul{
    margin-bottom: 180px;
    border-bottom: 1px solid @side-li;
  }
  li{
    border-bottom: 1px solid @side;
  }
  a{
    display: inline-block;
    width: 160px;
    height: 56px;
    line-height: 56px;
    color:#fff;
    font-size: 15px;
    text-align: center;
    background-color: @side-li;
    position: relative;
    &:hover{
      color:#4b7ca5;
      background-color: @main-b3;
    }
  }
  .u-icon-arrow-left{
    display: none
  }
  .z-active{
    color:#4b7ca5;
    background-color: @main-b3;
    .u-icon-arrow-left{
      display: block;
      position: absolute;
      right: 0;
      top:21px;
    }
  }
}
.m-main{
  background-color: #ecebf0;
}
.m-crumb{
  height: 38px;
  line-height: 38px;
  background-color: #f3f2fe;
  margin-left: 160px;
  padding-left: 20px;
  color:#CCC;
  span{
    font-size: 12px;
  }
  a{
    color: #ccc;
    &:hover{
      color: #50c5fd
    }
  }
  .z-active{
    color: #50c5fd
  }
}
.m-wrap{
  background-color: #fff;
  margin-top: 11px;
  margin-left: 172px;
}
