// out: null
.u-icon {
  display: inline-block;
  *display: inline;
  zoom:1;
  vertical-align: middle;

/*  margin-left: 5px;
    &:hover,:active{
      font-size: 20px;
    }*/
  background: url(./img/icons.png) no-repeat;
}

.u-icon-side{
  vertical-align: middle;
  font-size: 30px;
  margin-right: 10px;
}
.u-icon-host{
  width: 16px;
  height: 18px;
  background-position: -14px 0px;
}
.u-icon-location{
  width: 14px;
  height: 19px;
  background-position: 0px 0px;
}
.u-icon-add{
  width: 32px;
  height: 32px;
  background-position: -54px -18px;
}
.u-icon-dui{
  width: 17px;
  height: 17px;
  background-position: -78px 0px;
}
.u-icon-cuo{
  width: 17px;
  height: 17px;
  background-position: -96px 0px;
}
.u-icon-tan{
  width: 17px;
  height: 17px;
  background-position: -113px 0px;
}
.u-icon-chading{
  width: 56px;
  height: 56px;
  background-position: -1px -52px;
}
.u-icon-kehu{
  width: 56px;
  height: 56px;
  background-position: -58px -52px;
}
.u-icon-caigou{
  width: 56px;
  height: 56px;
  background-position: -115px -52px;
}
.u-icon-down-right{
  position: absolute;
  border-color: transparent;
  border-style: solid;
  height: 0;
  width: 0;
  content: " ";
  display: block;
  cursor: pointer;
  border-top-color: #f6a658;
  border-width: 5px;
  top: 10px;
  right: 5px;
}
.u-icon-left-wedge{
  position: absolute;
  border-color: transparent;
  border-style: solid;
  height: 0;
  width: 0;
  content: " ";
  display: block;
  cursor: pointer;
  border-right-color: #f9d697;
  border-bottom-color: #f9d697;
  border-width: 18px;
  top: 10px;
  right: 5px;
}
.u-icon-check{
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  &.act{
    background-color: #f9a04b;
  }
  &.dis{
    background-color: #fff;
  }
}

